.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
.gradio/
*/images_tmp
*/images_tmp/*
*.whl
*.egg
.vscode
# Environment files
.env
*.env
.env.*
!.env.example
!tools/ufw/defaults.env
!LLM/minimax/minimax-M3-IB/cluster.env
Qwen-Image-2512/src/diffusers
Qwen-Image-2512/src/
images_tmp/
*.wav
_pycache_/
.github
logs
*.png
*.jpeg
*.jpg
*.pdf
CosyVoice/pretrained_models
CosyVoice3/pretrained_models
multimedia_piolt/data/video/output/*
multimedia_piolt/data/video/temp/*
multimedia_piolt/data/video/download/*
multimedia_piolt/data/video/input/*
multimedia_piolt/data/video/input/*
multimedia_piolt/resources/video/*.mp4
multimedia_piolt/resources/ttf/*.ttf
model_test/outputs
model_test/Guard/output/
LLM/Qwen/Qwen3-Coder-30B-A3B-GGUF/test/
tools/docker-mirror/pushed_images.txt
*.mp4
*.mp3
*.wav
*.ogg
*.flac
*.m4a
*.m4b
*.m4p
*.m4v
*.m4s
*.m4r
*.m4b