.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
.gradio/
*/images_tmp
*/images_tmp/*
*.whl
*.egg
*.mp3
*.wav
# Environment files
.env
*.env
.env.*
!.env.example
Qwen-Image-2512/src/diffusers
Qwen-Image-2512/src/
images_tmp/
*.wav
_pycache_/
.github
logs
*.pdf
CosyVoice/pretrained_models
CosyVoice3/pretrained_models
multimedia_piolt/data/video/output/*
multimedia_piolt/data/video/temp/*
multimedia_piolt/data/video/download/*
multimedia_piolt/data/video/input/*
multimedia_piolt/data/video/input/*
multimedia_piolt/resources/video/*.mp4
multimedia_piolt/resources/ttf/*.ttf
